{% extends "layouts/base.html" %}
{% block title %}Containers | DPanel{% endblock %}
{% block main %}
<div class="d-flex justify-content-between mb-3">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-success disabled" id="btn-start"><i class="bi bi-play-fill"></i>
            start</button>
        <button type="button" class="btn btn-danger disabled" id="btn-stop"><i class="bi bi-stop-fill"></i>
            stop</button>
        <button type="button" class="btn btn-danger disabled" id="btn-kill"><i class="bi bi-radioactive"></i>
            kill</button>
        <button type="button" class="btn btn-primary disabled" id="btn-restart"><i class="bi bi-arrow-repeat"></i>
            restart</button>
        <button type="button" class="btn btn-primary disabled" id="btn-pause"><i class="bi bi-pause-fill"></i>
            pause</button>
        <button type="button" class="btn btn-primary disabled" id="btn-resume"><i class="bi bi-play-fill"></i>
            resume</button>
        <button class="btn btn-danger disabled" id="btn-delete"><i class="bi bi-trash-fill"></i>
            delete</button>
    </div>
    <div>
        <button class="btn btn-primary" type="button" id="refresh-btn">
            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" id="spinner"></span>
            <i class="fa-solid fa-arrows-rotate" id="refresh-icon"></i>
            <span id="refresh-text">refresh list</span>
        </button>
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#pruneModal">
            <i class="fa-solid fa-tree"></i> prune
        </button>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createContainerModal"><i
                class="fa-solid fa-plus"></i></i> container</button>
    </div>

    <!-- Create container modal -->
    <div class="modal fade" id="createContainerModal" tabindex="-1" aria-labelledby="createContainerModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createContainerModalLabel">Create & Run a Container</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="" method="">
                        <div class="mb-3">
                            <label for="image" class="form-label">Image</label>
                            <input type="text" class="form-control" id="image" aria-describedby="imageHelp" required>
                            <div id="imageHelp" class="form-text">If your image is not found on your device, it will be
                                automatically pulled using tage :latest</div>
                        </div>
                        <input type="submit" class="btn btn-success" value="Create" />
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Prune modal -->
    <div class="modal fade" id="pruneModal" tabindex="-1" aria-labelledby="pruneModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createContainerModalLabel">Docker System Prune</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/prune" method="post">
                        <div class="mb-3 text-danger">
                            You are about to prune your system, do you wish to continue?
                        </div>
                        <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
                        <label class="btn btn-outline-danger" for="btncheck1">Yes</label>
                        <input type="submit" class="btn btn-danger disabled" value="prune" id="confirm-prune" />
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<section class="flex-grow-1">
    <table class="table">
        <thead class="table-primary">
            <th><input type="checkbox" id="select-all" class="me-2" />
            </th>
            <th scope="col">Name</th>
            <th scope="col">Short ID</th>
            <th scope="col">Status</th>
            <th scope="col">Image</th>
            <th scope="col">IP</th>
            <th scope="col">Port Binding</th>
            <th scope="col">Actions</th>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div id="loading" style="display: none" class="text-center">
        <div class="spinner-border text-info" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</section>
<section class="position-absolute bottom-0 end-0 w-25 me-3">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</section>
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function () {
        $("#spinner").hide();
        $("#loading").show();
        loadData().done(function () {
            $("#loading").hide();
        });

        $("#refresh-btn").click(function () {
            $("#refresh-icon").hide();
            $("#spinner").show();
            $("#refresh-text").text("Loading...");
            $("#refresh-btn").addClass("disabled");

            loadData().done(function () {
                $("#spinner").hide();
                $("#refresh-icon").show();
                $("#refresh-text").text("refresh list");
                $("#refresh-btn").removeClass("disabled");
            });
        });

        // handle prune check box
        $('#btncheck1').change(function () {
            $('#confirm-prune').toggleClass('disabled');
        });

        // handle select all checkbox change
        $('#select-all').change(function () {
            // select all checkboxes with class of tr-checkbox and make them selected
            $('.tr-checkbox').prop('checked', this.checked);
            // enable/disable buttons
            if (this.checked) {
                $('#btn-stop, #btn-kill, #btn-restart, #btn-pause, #btn-delete, #btn-resume, #btn-start').removeClass('disabled');
            } else {
                // If no checkboxes are checked, disable all buttons
                $('#btn-stop, #btn-kill, #btn-restart, #btn-pause, #btn-delete, #btn-resume, #btn-start').addClass('disabled');
            }
        });
    });

    function loadData() {
        var dfd = $.Deferred();

        setTimeout(function () {
            $.getJSON("{{ url_for('get_containers') }}", function (data) {
                var tbody = $("table tbody");
                tbody.empty();
                $.each(data, function (i, container) {
                    var tr = $("<tr>");
                    tr.append($("<td>").html('<input type="checkbox" class="tr-checkbox" value="' + container.Id + '" name="container"> <span class="spinner-grow spinner-grow-sm row-spinner d-none" role="status" aria-hidden="true"></span>'));
                    // substring(1) because all containers have a name starting with / for some reason
                    tr.append($("<td>").text(container.Name.substring(1)));
                    tr.append($("<td>").text(container.Id.substring(0, 12)));
                    tr.append($("<td>").html('<span class="badge bg-' + getStatusClass(container.State.Status) + '">' + container.State.Status + '</span>'));
                    tr.append($("<td>").text(container.Config.Image));
                    tr.append($("<td>").text(container.NetworkSettings.IPAddress));
                    tr.append($("<td>").html(getPortBindings(container.HostConfig.PortBindings)));
                    tr.append($("<td>").html('<button class="transparent-btn" onclick="getInfo(\'' + container.Id + '\')"><i class="bi bi-info-circle text-primary"></i></button>'));
                    tbody.append(tr);
                });
                dfd.resolve(); // Resolve the Deferred when the AJAX call is done
            });
        }, 300);

        return dfd.promise(); // Return the promise
    }

    function getStatusClass(status) {
        switch (status) {
            case "running": return "success";
            case "paused": return "warning";
            case "exited": return "danger";
            default: return "secondary";
        }
    }

    function getPortBindings(portBindings) {
        var result = "";
        $.each(portBindings, function (key, value) {
            $.each(value, function (i, item) {
                result += '<a href="http://localhost:' + item.HostPort + '" target="_blank">' + item.HostPort + ':' + key.split('/')[0] + ' <i class="bi bi-box-arrow-up-right"></i></a> ';
            });
        });
        return result;
    }

    // check if there's any information in the session storage
    if (sessionStorage.getItem('actionCompleted')) {
        // for each checked row, hide the spinner and clear the action text
        $('.tr-checkbox:checked').each(function () {
            $(this).show();
            var row = $(this).closest('tr');
            row.find('.row-spinner').toggleClass('d-none');
            $('#' + actionBtnId).prop('disabled', false);
        });

        // clear the information in the session storage
        sessionStorage.removeItem('actionCompleted');
    }

    function performAction(url, actionBtnId) {
        // get all container ids that are checked
        var checkedIds = $('.tr-checkbox:checked').map(function () {
            return this.value;
        }).get();

        // diable action button based on actionText
        $('#' + actionBtnId).prop('disabled', true);

        // for each checked row, show the spinner and display the action text
        $('.tr-checkbox:checked').each(function () {
            // disable checkbox
            $(this).hide();
            var row = $(this).closest('tr');
            row.find('.row-spinner').toggleClass('d-none');
        });

        $.ajax({
            url: url,
            type: 'POST',
            data: JSON.stringify({ 'ids': checkedIds }),
            contentType: 'application/json',
            success: function (result) {
                // store the necessary information in the session storage
                sessionStorage.setItem('actionCompleted', true);
                // redirect to the index page
                window.location.href = '/';
            },
            error: function (request, status, error) {
                // store the necessary information in the session storage
                sessionStorage.setItem('actionCompleted', true);
                // handle errors
                window.location.href = '/';
            }
        });
    }

    $('#btn-delete').click(function () {
        performAction('/delete', 'btn-delete');
    });

    $('#btn-start').click(function () {
        performAction('/start', 'btn-start');
    });

    $('#btn-stop').click(function () {
        performAction('/stop', 'btn-stop');
    });

    $('#btn-kill').click(function () {
        performAction('/kill', 'btn-kill');
    })
</script>
{% endblock %}