body {
    margin: 0;
    overflow-x: hidden;
    font-family: "Open Sans",sans-serif;
}

a {
    text-decoration: none;
}

.opacity-full {
    opacity: 1;
}

.transparent-btn {
    background-color: transparent;
    border: none;
}

input:hover {
    cursor: pointer;
}

.btn-primary {
    background-color: rgb(11, 111, 253, 0.85);
}

.btn-danger {
    background-color: rgb(219, 53, 70, 0.85);
}

.btn-success {
    background-color: rgb(26, 135, 85, 0.85);
}