body {
  background-color: rgb(245, 245, 245);
}

#app {
  padding: 28px !important;
}

#app #page-links > a {
  color: #365aa2;
  text-decoration: none;
}

th {
  background-color: transparent !important;
  color: rgb(50, 50, 50) !important;
}
td {
  background-color: transparent !important;
  color: rgb(70, 70, 70) !important;
}

.button-box {
  margin-bottom: 10px !important;
}

.compose-file {
  width: 200px;
  height: 200px;
  position: relative;
  background-color: #dcdcdc;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 20px;
  margin: 10px;
  text-align: center;
}

.hover-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.compose-file:hover .hover-div {
  visibility: visible;
}